<html lang="pt-br">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/faturamento.css') }}">
    <script>
        google.charts.load('current', {packages: ['corechart']});
google.charts.setOnLoadCallback(function () {
    drawCharts(allData2022, '2022'); // Dados de 2022
    drawCharts(allData2021, '2021'); // Dados de 2021
    drawCharts(allData2020, '2022'); // Dados de 2022
    drawCharts(allData2019, '2021'); // Dados de 2021
    drawCharts(allData2018, '2022'); // Dados de 2022
    drawCharts(allData2017, '2021'); // Dados de 2021
});

var allData2022 ={{allData3}};
var allData2021 ={{allData4}};
var allData2020 ={{allData5}};
var allData2019 ={{allData6}};
var allData2018 ={{allData7}};
var allData2017 ={{allData8}};
var allData2016 ={{allData9}};


   var chartColors = [
        '#3374dc',
        '#ffbd15',
        '#067237',
    ];


function drawCharts(dataSet, idSuffix) {
    var columnTitles = [
        'FAT',
        'RENT($)',
        'RENT(%)',
    ];

    for (var i = 1; i <= columnTitles.length; i++) {
        drawIndividualChart(i, columnTitles[i - 1], dataSet, idSuffix);
    }
}

function drawIndividualChart(chartIndex, columnTitle, dataSet, idSuffix) {
    var data = google.visualization.arrayToDataTable([
        ['Month', columnTitle],
        ['Janeiro', dataSet[0][chartIndex - 1]],
        ['Fevereiro', dataSet[1][chartIndex - 1]],
        ['Março', dataSet[2][chartIndex - 1]],
        ['Abril', dataSet[3][chartIndex - 1]],
        ['Maio', dataSet[4][chartIndex - 1]],
        ['Junho', dataSet[5][chartIndex - 1]],
        ['Julho', dataSet[6][chartIndex - 1]],
        ['Agosto', dataSet[7][chartIndex - 1]],
        ['Setembro', dataSet[8][chartIndex - 1]],
        ['Outubro', dataSet[9][chartIndex - 1]],
        ['Novembro', dataSet[10][chartIndex - 1]],
        ['Dezembro', dataSet[11][chartIndex - 1]],
    ]);

    var view = new google.visualization.DataView(data);
    view.setColumns([
        0,
        1,
        {
            calc: function (dt, rowIndex) {
                return dt.getFormattedValue(rowIndex, 1);
            },
            type: 'string',
            role: 'annotation',
        },
    ]);




    var options = {
        curveType: 'function',
        colors: [chartColors[chartIndex % chartColors.length]],
        pointSize: 10,
        vAxis: {
            textPosition: 'none',
            gridlines: {
                color: 'transparent'  // adicione esta linha para remover as linhas de grade verticais
            }
        },
        hAxis: {
            textStyle: {
                color: '#FFFFFF',
                fontName: 'Arial',
                fontSize: 16,
                fontWeight: 'normal'
            },
            gridlines: {
                color: 'transparent'  // adicione esta linha para remover as linhas de grade horizontais
            }
        },
        backgroundColor: '#383838',
        legend: {position: 'none'},
    };
    var chart = new google.visualization.LineChart(
        document.getElementById('chart' + chartIndex + idSuffix)
    );
    chart.draw(view, options);
}
function createLegend(dataSet, id) {
    var legendDiv = document.getElementById(id);
    var columnTitles = [
        'FAT',
        'RENT($)',
        'RENT(%)',
    ];
     var legendHtml = '<ul style="display: flex; flex-wrap: wrap; padding: 0;">';
    for (var i = 0; i < columnTitles.length; i++) {
        legendHtml += '<li style="list-style-type: none; margin-right: 20px;"><span style="color:' + chartColors[i % chartColors.length] +
            '">&#9679;</span> ' + columnTitles[i] + '</li>';
    }
    legendHtml += '</ul>';
    legendDiv.innerHTML = legendHtml;
}

// Chamar a função quando os gráficos são desenhados
google.charts.setOnLoadCallback(function () {
    drawCharts(allData2022, '2022'); // Dados de 2022
    drawCharts(allData2021, '2021'); // Dados de 2021
    drawCharts(allData2020, '2020'); // Dados de 2020
    drawCharts(allData2019, '2019'); // Dados de 2019
    drawCharts(allData2018, '2018'); // Dados de 2018
    drawCharts(allData2017, '2017'); // Dados de 2017
    drawCharts(allData2016, '2016'); // Dados de 2016
     createLegend(allData2022, 'legend2022'); // Cria a legenda para 2022
});



    </script>

</head>
<body>

        <div class="direita">
            <div class="menu-central">
                <div class="direita">

         <div class="laranja">
            <div class="slogan">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
            </div>
         </div>
        <div class="menu-central">
        <select id="mySelect">
        <option value="/faturamento">Faturamento</option>
        <option value="/analisecomercial">Análise Comercial</option>
        <option value="/metarealizado">Metas Realizadas</option>
        </select>

        <button onclick="myFunction()">Go to page</button>

        <script>
        function myFunction() {
        var x = document.getElementById("mySelect").value;
        window.location.href = x;
        }
        </script>

    </div>

            </div>
                        <div class="coluna-charts">
                            <div class="azul-chart1">
                                <div class="ano1vertical">2022</div>
                                <div class="charts1" id="chartContainer">
                                    <div id="title-top">FATURAMENTO - (Goiânia) geral (LOJAS)</div>
                                    <div id="legend2022"></div>
                                    <div id="chart12022" class="chart-div-top"></div>
                                    <div id="chart22022" class="chart-div"></div>
                                    <div id="chart32022" class="chart-div"></div>
                                    <div id="table-container1" class="table-container">
                                        <div id="table1" class="table-first">
                                            <div>
                                                <table>
                                                    <tr>
                                                        <td>EVOLUÇÃO</td>
                                                        <td>FAT</td>
                                                        <td>{{ evolucao3.fat }}</td>
                                                        <td>RENT $</td>
                                                        <td>{{ evolucao3.rent }}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="table-soma1" class="table-soma">
                                            <div>
                                                <table>
                                                    <tr>
                                                        <td>SOMA</td>
                                                        <td>{{ soma3.soma }}</td>
                                                        <td>MEDIA</td>
                                                        <td>{{ soma3.media1 }}</td>
                                                        <td>{{ soma3.media2 }}</td>
                                                        <td>{{ soma3.percentual }}</td>
                                                    </tr>                                                    
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="azul-chart2">
                                    <div class="ano2vertical">2021</div>
                                        <div class="charts2" id="charts2021">
                                            <div id="chart12021" class="chart-div-top"></div>
                                            <div id="chart22021" class="chart-div"></div>
                                            <div id="chart32021" class="chart-div"></div>
                                                        <div id="table-container2" class="table-container">
                                                                <div id="table2" class="table-first">
                                                                        <div>
                                                                                <table>
                                                                                            <tr>
                                                                                                <td>EVOLUÇÃO</td>
                                                                                                <td>FAT</td>
                                                                                                <td>{{ evolucao4.fat }}</td>
                                                                                                <td>RENT $</td>
                                                                                                <td>{{ evolucao4.rent }}</td>
                                                                                            </tr>
                                                                                </table>
                                                                        </div>
                                                                </div>
                                                                <div id="table-soma2" class="table-soma">
                                                                        <div>
                                                                                <table>
                                                                                        <tr>
                                                                                            <td>SOMA</td>
                                                                                            <td>{{ soma4.soma }}</td>
                                                                                            <td>MEDIA</td>
                                                                                            <td>{{ soma4.media1 }}</td>
                                                                                            <td>{{ soma4.media2 }}</td>
                                                                                            <td>{{ soma4.percentual }}</td>
                                                                                        </tr>
                                                                                </table>
                                                                        </div>
                                                                </div>
                                                        </div>
                                        </div>
                            </div>
                            <div class="azul-chart3">
                                <div class="ano3vertical">2020</div>
                                <div class="charts3" id="charts2020">
                                    <div id="chart12020" class="chart-div-top"></div>
                                    <div id="chart22020" class="chart-div"></div>
                                    <div id="chart32020" class="chart-div"></div>
                                    <div id="table-container3" class="table-container">

                                            <div id="table3" class="table-first">
                                                <div>
                                                    <table>
                                                        <tr>
                                                            <td>EVOLUÇÃO</td>
                                                            <td>FAT</td>
                                                            <td>{{ evolucao5.fat }}</td>
                                                            <td>RENT $</td>
                                                            <td>{{ evolucao5.rent }}</td>
                                                        </tr>
                                                        </table>
                                                </div>
                                            </div>
                                            <div id="table-soma3" class="table-soma">
                                                <div>
                                                        <table>
                                                        <tr>
                                                            <td>SOMA</td>
                                                            <td>{{ soma5.soma }}</td>
                                                            <td>MEDIA</td>
                                                            <td>{{ soma5.media1 }}</td>
                                                            <td>{{ soma5.media2 }}</td>
                                                            <td>{{ soma5.percentual }}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>


                                    </div>




                                </div>
                            </div>


                            <div class="azul-chart4">
                                <div class="ano4vertical">2019</div>
                                <div class="charts4" id="charts2019">
                                    <div id="chart12019" class="chart-div-top"></div>
                                    <div id="chart22019" class="chart-div"></div>
                                    <div id="chart32019" class="chart-div"></div>
                                    <div id="table-container4" class="table-container">
                                        <div id="table4" class="table-first">
                                            <div>
                                                <table>
                                                    <tr>
                                                        <td>EVOLUÇÃO</td>
                                                            <td>FAT</td>
                                                            <td>{{ evolucao6.fat }}</td>
                                                            <td>RENT $</td>
                                                            <td>{{ evolucao6.rent }}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="table-soma4" class="table-soma">
                                            <div>
                                                <table>
                                                    <tr>
                                                        <td>SOMA</td>
                                                        <td>{{ soma6.soma }}</td>
                                                        <td>MEDIA</td>
                                                        <td>{{ soma6.media1 }}</td>
                                                        <td>{{ soma6.media2 }}</td>
                                                        <td>{{ soma6.percentual }}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="azul-chart5">
                                    <div class="ano5vertical">2018</div>
                                    <div class="charts5" id="charts2018">
                                        <div id="chart12018" class="chart-div-top"></div>
                                        <div id="chart22018" class="chart-div"></div>
                                        <div id="chart32018" class="chart-div"></div>
                                        <div id="table-container5" class="table-container">

                                            <div id="table5" class="table-first">
                <div>
                    <table>
                        <tr>
                            <td>EVOLUÇÃO</td>
                            <td>FAT</td>
                            <td>{{ evolucao7.fat }}</td>
                            <td>RENT $</td>
                            <td>{{ evolucao7.rent }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="table-soma5" class="table-soma">
                <div>
                    <table>
                        <tr>
                            <td>SOMA</td>
                            <td>{{ soma7.soma }}</td>
                            <td>MEDIA</td>
                            <td>{{ soma7.media1 }}</td>
                            <td>{{ soma7.media2 }}</td>
                            <td>{{ soma7.percentual }}</td>
                        </tr>
                    </table>
                </div>
            </div>



                                        </div>
                                    </div>
                            </div>

                            <div class="azul-chart6">
                                    <div class="ano6vertical">2017</div>
                                    <div class="charts6" id="charts2017">
                                        <div id="chart12017" class="chart-div-top"></div>
                                        <div id="chart22017" class="chart-div"></div>
                                        <div id="chart32017" class="chart-div"></div>
                                        <div id="table-container6" class="table-container">

                                             <div id="table6" class="table-first">
                                                <div>
                                                    <table>
                                                        <tr>
                                                            <td>EVOLUÇÃO</td>
                                                            <td>FAT</td>
                                                            <td>{{ evolucao8.fat }}</td>
                                                            <td>RENT $</td>
                                                            <td>{{ evolucao8.rent }}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div id="table-soma6" class="table-soma">
                                                <div>
                                                    <table>
                                                        <tr>
                                                            <td>SOMA</td>
                                                            <td>{{ soma8.soma }}</td>
                                                            <td>MEDIA</td>
                                                            <td>{{ soma8.media1 }}</td>
                                                            <td>{{ soma8.media2 }}</td>
                                                            <td>{{ soma8.percentual }}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                            </div>

                            <div class="azul-chart7">
                                    <div class="ano7vertical">2016</div>
                                    <div class="charts7" id="charts2016">
                                        <div id="chart12016" class="chart-div-top"></div>
                                        <div id="chart22016" class="chart-div"></div>
                                        <div id="chart32016" class="chart-div-last"></div>
                                        <div id="table-container7" class="table-container">

                                            <div id="table7" class="table-first">
                                                    <div>
                                                        <table>
                                                            <tr>
                                                                <td>EVOLUÇÃO</td>
                                                                <td>FAT</td>
                                                                <td>{{ evolucao9.fat }}</td>
                                                            <td>RENT $</td>
                                                            <td>{{ evolucao9.rent }}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                            </div>
                                            <div id="table-soma7" class="table-soma">
                                                    <div>
                                                        <table>
                                                            <tr>
                                                                <td>SOMA</td>
                                                                <td>{{ soma9.soma }}</td>
                                                                <td>MEDIA</td>
                                                                <td>{{ soma9.media1 }}</td>
                                                                <td>{{ soma9.media2 }}</td>
                                                                <td>{{ soma9.percentual }}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                            </div>



                                        </div>
                                    </div>
                            </div>
                        </div>
        </div>

</body>
</html>